.teamAndProgression {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.teamAndResults {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  margin: auto;
  gap: 16px;
}
